#no_two_div{
    margin: 50px 100px 50px 100px;
    background-image: url("trophy_updated.png");
    display: flex;
    background-repeat: no-repeat;
}

#no_one_div{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.topnav {
  overflow: hidden;
  background-color: inherit;
}

 .topnav div {
  float: left;    
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.active_span {
   color: blue; 
   text-decoration: underline !important;
    padding-bottom: 2px !important;
}

#search {
    margin-left:  400px !important; 
    padding-right: 120px !important;
    background-color: #f2f2f2 !important;
    border: 2px;
    border-radius: 15px;
}

#search label {
    font-weight: 200 !important;
}

.favorite {
    padding-left: 550px;
    padding-top: 100px;
    padding-bottom: 175px;
    font-size: 30;
}

.fav_2023 {
    font-size: 18 !important;
}

#see_collection{
    font-size: 18 !important;
    font-weight: bold;
}

#see_collection-anchor {
    border: 2px;
    border-radius: 15px;
}

#no_three_div {
    max-width:  1344px;
    margin: 50px 100px 50px 100px;
}

.categories {
    display: flex;
    justify-content: space-between;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}

.catory_anchor {
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    color: initial;
    display: flex;
    height: 80px;
    padding: 16px;
    width: 252px;
    text-decoration: none;
}

div.categories span {
    font-size: 18;
}

